body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #111;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.navbar a.active {
  color: tomato;
}

.container {
  text-align: center;
  margin-top: 50px;
}